body {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    background: white;
    color: #1E1E23;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
}


/* Header displaying phone number and email */

#contact-page-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3px 15px;
    background: #1E1E23;
    color: white;
}

#contact-page-header .phone,
#contact-page-header .email {
    margin: 0 16px;
}

#contact-page-header img {
    height: 25px;
    margin: 8px 0;
    padding-left: 16px;
    padding-right: 8px;
}

@media only screen and (max-width: 481px) {
    #contact-page-header span {
        display: none;
    }
    #contact-page-header img {
        padding-right: 0 !important;
    }
}


/* navigation-bar */

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    gap: var(--gap, 1rem);
    background-color: white;
    border-bottom: 5px rgb(255, 190, 69) solid;
}

.logo {
    width: 250px;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: var(--gap, 1rem);
}

.navigation-links a {
    text-decoration: none;
    color: #1E1E23;
}

.nav-toggle {
    display: none;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1E1E23;
}

.navigation-links li {
    padding: 0 10px;
}


/* HEADER */

.header-background {
    background-image: url('media/background.jpg');
    background-image: linear-gradient(to left, rgba(30, 30, 35, 0.2), rgba(0, 0, 0, 0.8)), url('media/background.jpg');
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5vw;
    color: white;
    text-align: left;
}

@media only screen and (min-width:482px) {
    .header-background {
        min-height: 600px;
        display: flex;
        justify-content: left;
    }
    .primary-header-title {
        display: block !important;
        margin-left: 48px;
    }
    .header-background h1 {
        font-size: 60px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        padding: 0 16px;
        border-left: rgb(255, 190, 69) solid 3px;
    }
    .header-background h5 {
        padding: 8px 16px;
        color: white;
        font-size: 21px;
        margin-top: 16px;
        font-weight: 400;
    }
    .header-button-group {
        display: flex;
        justify-content: left;
        padding: 24px 16px;
    }
    .mobile-footer {
        display: hidden !important;
        max-height: 0;
    }
    .mobile-footer .container {
        display: hidden !important;
        max-height: 0;
    }
    .footer-option {
        display: none !important;
    }
}

#mobile-header-title {
    display: none;
}

.primary-header-title {
    display: none;
}

@media only screen and (min-width:320px) and (max-width: 481px) {
    #mobile-header-title {
        display: block;
        white-space: pre-line;
        color: white;
        font-weight: 400;
        padding: 10pt;
        background: rgba(0, 0, 0, 0.8);
        border-left: 4px rgb(252, 200, 67) solid;
        letter-spacing: 0.03em;
    }
}

@media (min-width: 768px) {
    .header-background {
        margin-top: 0px;
        background-attachment: fixed;
        height: 70vh !important;
    }
    #services-btn,
    #contact-btn {
        font-size: 1rem !important;
        border-radius: 0.25rem !important;
    }
    #about-us-extra {
        display: block;
    }
    #welcome-title {
        font-size: 40px !important;
    }
}

.footer-option {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 11pt;
}

.footer-option a {
    color: white !important;
    text-decoration: none;
}

.footer-icon {
    display: block;
    margin: auto;
    height: 35px;
    padding: 2px;
}

.web-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1E1E23;
}

@media only screen and (max-width: 481px) {
    .mobile-footer {
        display: flex !important;
        height: 75px;
        background-color: rgb(252, 200, 67);
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        display: block;
    }
    .mobile-footer .container {
        justify-content: space-around;
        display: flex;
        align-items: end;
    }
    .web-footer {
        display: none !important;
    }
    .carousel-container .card {
        height: 250px !important;
    }
    .contact-us-div {
        margin-bottom: 6rem !important;
    }
}


/*  */

@media (max-width: 768px) {
    .resize-animation-stopper * {
        animation: none !important;
        transition: none !important;
    }
    .navigation-links {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: white;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }
    .navigation-links[data-visible='true'] {
        transform: translateX(0%)
    }
    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 3rem;
        border: 0;
        background-color: white;
        aspect-ratio: 1;
        right: 2rem;
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (min-width: 768px) {
    .navigation-links a>[aria-hidden] {
        display: none;
    }
}

#about-us-content {
    margin: 3% 7% 0 7%;
}

#welcome-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

#welcome-title b {
    font-weight: 600;
}

.learn-more-link {
    display: flex;
    justify-content: end;
    color: cornflowerblue !important;
    font-size: 0.9rem !important;
}

#services-btn {
    border: 1px white solid;
    border-radius: 5pt;
    margin-top: 10pt;
    /* margin-left: 8pt; */
    font-weight: 500;
    font-size: 40%;
    color: white;
}

#contact-btn {
    background-color: rgb(246, 181, 19);
    margin-top: 10pt;
    font-weight: 500;
    font-size: 40%;
    color: white;
    margin-left: 8pt;
}

#services-div {
    background: linear-gradient( to bottom, #1E1E23 0%, #1E1E23 65%, white 65%, white 100%);
    color: #1E1E23;
    display: flex;
    min-height: 75px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
}

#services-div span {
    color: white;
}

.contact-us {
    margin-left: 5%;
    padding-top: 2%;
}

.contact-us-phone {
    height: 25px;
    padding-right: 7px;
}

.contact-us-email {
    height: 21px;
    padding-right: 7px;
}

.input-form {
    /* background: antiquewhite; */
    margin: 15px;
    border: 1px solid #1E1E23;
}

.input,
textarea {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
    height: calc(1.5em + 0.75rem + 2px);
}

#contact-submit {
    border: 1px solid #1E1E23;
}

#primary-navigation[data-visible='true'] {
    transform: translateX(0%)
}

.carousel-container {
    width: 95%;
    margin: 50px auto 20px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden
}

.carousel-container .track {
    display: inline-flex;
    transition: transform 0.3s;
}

.carousel-container .card-container {
    width: 259px;
    flex-shrink: 0;
    height: 250px !important;
    padding-right: 15px;
    /* box-sizing: border-box; */
}

.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    border: 0;
    /* box-sizing: border-box; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.carousel-container .card-container .img {
    border-radius: 10px;
    max-height: 250px !important;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev {
    left: -30px;
    display: none;
}

.nav .next.hide {
    display: none;
}

.nav .prev.show {
    display: block;
}

.nav .next {
    right: -30px;
}

.card>* {
    flex: 1;
}


/* Mobile */

@media screen and (max-width: 768px) {
    .carousel-container {
        width: 80%;
    }
}


/* Tablet  */

@media screen and (max-width: 1024px) {
    .carousel-container {
        width: 85%;
    }
}


/* ABOUT US */

#about-us-title {
    margin: 7% 7% 0 7%;
}

.subheader {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 4% 4% 0 4%;
}

.title-bar {
    border-top: 5px solid rgb(255, 190, 69);
    width: 55px;
    margin-right: 2%;
    border-radius: 5px;
}

@media only screen and (max-width:481px) {
    #about-us-content {
        margin: 7% 7% 0 7%;
    }
}

#service-tabs {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: space-evenly;
}

.accordion__button {
    display: block;
    width: 100%;
    padding: 22.1px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: #fff;
    text-align: left;
    transition: background 0.2s;
}

.accordion__button--active {
    /* background: #555555; */
    background-color: rgb(252, 200, 67);
    color: #1E1E23
    /* background: rgb(255, 190, 69); */
}

.accordion__button--active img {
    filter: hue-rotate(181deg) brightness(30%) saturate(0);
}

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    background: #eeeeee;
}

.service-card {
    display: none;
    background: white;
}

.accordion__button:focus {
    outline: none;
}

@media only screen and (min-width:992px) {
    .service-card--active {
        display: flex;
    }
    .accordion__button--active+.accordion__content {
        display: none;
    }
}

@media only screen and (max-width:991px) {
    .accordion__button--active+.accordion__content {
        display: block;
    }
    .accordion__button::after {
        content: '\25be';
        float: right;
        transform: scale(2);
    }
    .accordion__button--active::after {
        content: '\25b4';
    }
}

.contact-us-img {
    height: 5rem;
}

.contact-info-tab {
    display: flex;
}

@media only screen and (max-width:576px) {
    .contact-info-tab {
        padding: 20px 0;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .contact-address {
        padding: 20px 0;
    }
}

.d-grid {
    display: grid;
}

label.required:after {
    content: '*';
    color: #E74C3C;
    margin-left: 0.3125rem;
}

label {
    font-weight: 500;
}

img.checkmark {
    width: 1.45rem;
    margin-right: 10px;
}

img.certification {
    height: 10rem;
}

@media only screen and (min-width:992px) {
    .cert-card {
        margin: 0 !important;
    }
    .about-us-div {
        margin-right: 48px !important;
    }
}

.cert-card {
    margin: 20px 0 20px 0;
}

.about-us-div {
    margin: 0;
    padding: 0 !important;
}

#portfolio-header {
    display: flex;
    align-items: center;
    /* height: 300px; */
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, rgba(30, 30, 35, 0.4), rgba(0, 0, 0, 1)), url('media/weld-bg.jpeg');
    background-position: bottom 0 right 100%;
}