body {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    background: white;
    color: #1E1E23;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* CSS FOR SCROLL ANIMATION */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* TOP HEADER */

#contact-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 15px;
    background: #1E1E23;
}

#contact-header>div {
    margin: 0 10px;
}

#contact-header a {
    color: white;
}

#contact-header img {
    height: 25px;
    margin: 8px 0;
    padding-left: 16px;
    padding-right: 8px;
}

@media only screen and (max-width: 481px) {
    #contact-header span {
        display: none;
    }
    #contact-header img {
        padding-right: 0 !important;
    }
}


/* NAVBAR */

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    gap: var(--gap, 1rem);
    background-color: white;
    border-bottom: 5px rgb(255, 190, 69) solid;
}

.logo {
    width: 250px;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: var(--gap, 1rem);
}

.navigation-links a {
    text-decoration: none;
    color: #1E1E23;
}

.nav-toggle {
    display: none;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1E1E23;
}

.navigation-links li {
    padding: 0 10px;
}

.navigation-links li a:hover {
    color: rgb(246, 181, 19) !important;
}

@media (max-width: 768px) {
    .resize-animation-stopper * {
        animation: none !important;
        transition: none !important;
    }
    .navigation-links {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: white;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }
    .navigation-links[data-visible='true'] {
        transform: translateX(0%)
    }
    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 3rem;
        border: 0;
        background-color: white;
        aspect-ratio: 1;
        right: 2rem;
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .nav-toggle[aria-expanded="true"] .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (min-width: 768px) {
    .navigation-links a>[aria-hidden] {
        display: none;
    }
}


/* PARALLAX TITLE SECTION */

.header-background {
    background-image: url('media/background.jpg');
    background-image: linear-gradient(to left, rgba(30, 30, 35, 0.2), rgba(0, 0, 0, 0.8)), url('media/background.jpg');
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5vw;
    color: white;
    text-align: left;
}

#services-btn {
    border: 1px white solid;
    border-radius: 5pt;
    margin-top: 10pt;
    /* margin-left: 8pt; */
    font-weight: 500;
    font-size: 40%;
    color: white;
}

#contact-btn {
    background-color: rgb(246, 181, 19);
    margin-top: 10pt;
    font-weight: 500;
    font-size: 40%;
    color: white;
    margin-left: 8pt;
}

@media only screen and (min-width:482px) {
    .header-background {
        min-height: 600px;
        display: flex;
        justify-content: left;
    }
    .primary-header-title {
        display: block !important;
        margin-left: 48px;
    }
    .header-background h1 {
        font-size: 60px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        padding: 0 16px;
        border-left: rgb(255, 190, 69) solid 3px;
    }
    .header-background h5 {
        padding: 8px 16px;
        color: white;
        font-size: 21px;
        margin-top: 16px;
        font-weight: 400;
    }
    .header-button-group {
        display: flex;
        justify-content: left;
        padding: 24px 16px;
    }
}

#mobile-header-title {
    display: none;
}

.primary-header-title {
    display: none;
}

@media only screen and (max-width: 481px) {
    #mobile-header-title {
        display: block;
        white-space: pre-line;
        color: white;
        font-weight: 400;
        padding: 10pt;
        background: rgba(0, 0, 0, 0.8);
        border-left: 4px rgb(252, 200, 67) solid;
        letter-spacing: 0.03em;
    }
}

@media (min-width: 768px) {
    .header-background {
        margin-top: 0px;
        background-attachment: fixed;
        height: 70vh !important;
    }
    .header-button-group>button {
        font-size: 1rem !important;
        border-radius: 0.25rem !important;
    }
}


/* Hover button animation */

button {
    transition: all 0.5s;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\276F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    display: none;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}


/* ABOUT US SECTION */

.subheader {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 4% 4% 0 4%;
}

#about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin: 48px 48px;
}

#about-us-section .subheader {
    margin: 7% 7% 0 7%;
}

#about-us-section .subheader span:nth-child(1) {
    border-top: 5px solid rgb(255, 190, 69);
    width: 55px;
    margin-right: 2%;
    border-radius: 5px;
}

.about-us-content {
    margin: 3% 7% 0 7%;
}

.about-us-content span {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.about-us-content span b {
    font-weight: 600;
}

.why-choose-us-section {
    display: grid;
}

.why-choose-us-section .subheader-bar {
    border-top: 2px solid rgb(255, 190, 69);
    width: 85%;
}

img.checkmark {
    width: 1.45rem;
    margin-right: 10px;
}

@media only screen and (max-width: 481px) {
    #about-us-section .subheader {
        font-size: 12pt;
    }
    .about-us-content {
        margin: 7% 7% 0 7%;
    }
    #about-us-section {
        margin: 48px 15px !important;
    }
}

@media only screen and (min-width: 768px) {
    .about-us-content span {
        font-size: 40px !important;
    }
}


/* CERTIFICATION SECTION */

#certification-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #1E1E23;
    background-color: rgba(30, 30, 35, .075);
}

#certification-section>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 3rem;
}

.cert-title {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 2.2rem;
}

.cert-title>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cert-title>div>div {
    display: grid;
}

.cert-title span:nth-child(2) {
    border-top: 3px solid rgb(255, 190, 69);
    width: 40%;
    margin-right: 2%;
    border-radius: 5px;
}

.cert-title p {
    padding-top: 30px;
    font-size: 10.5pt;
    color: #1E1E23;
}

.cert-card {
    display: grid;
    margin: 20px 0 20px 0;
    background-color: white;
    box-shadow: -6px 6px 23px -4px rgb(0 0 0 / 28%);
}

img.certification {
    height: 10rem;
}

.learn-more-link {
    display: flex;
    justify-content: end;
    color: cornflowerblue !important;
    font-size: 0.9rem !important;
    padding-bottom: 1rem;
}

@media only screen and (min-width:992px) {
    .cert-card {
        margin: 0 !important;
    }
    .about-us-div {
        margin-right: 48px !important;
    }
    .cert-card:nth-child(3) {
        transition-delay: 300ms;
    }
}


/* SERVICES SECTION + ACCORDION */

#services-section {
    background: linear-gradient(to bottom, #1E1E23 0%, #1E1E23 65%, white 65%, white 100%);
    color: #1E1E23;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 1rem;
    min-height: 75px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
}

#services-section .subheader {
    display: grid !important;
}

#services-section .subheader>div {
    display: flex;
    justify-content: center;
}

#services-section .subheader div:nth-child(1) {
    color: white;
    margin: 4;
    font-size: 2rem!important;
}

#services-section .subheader div:nth-child(2) {
    padding-top: 0.25rem;
}

#services-section .subheader div:nth-child(2) span {
    width: 12%;
    border-top: 3px solid rgb(255, 190, 69);
    border-radius: 5px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    justify-content: center;
}

.services-content>div {
    display: flex;
    box-shadow: -4px 17px 23px -4px rgb(0 0 0 / 28%);
}

#service-tabs {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
}

.accordion__button {
    display: block;
    width: 100%;
    padding: 22.1px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: #fff;
    text-align: left;
    transition: background 0.2s;
}

.accordion__button--active {
    background-color: rgb(252, 200, 67);
    color: #1E1E23
}

.accordion__button--active img {
    filter: hue-rotate(181deg) brightness(30%) saturate(0);
}

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    background: #eeeeee;
}

.accordion__content p {
    margin: 25px 0;
}

.service-card {
    display: none;
    background: white;
    padding-right: 0;
    padding-left: 0;
}

.service-card:nth-child(1) {
    height: 300px;
    background-size: cover;
}

.service-card p {
    font-size: 10.5pt;
    color: #1E1E23;
}

.accordion__button:focus {
    outline: none;
}

@media only screen and (min-width:992px) {
    .service-card--active {
        display: flex;
    }
    .accordion__button--active+.accordion__content {
        display: none;
    }
}

@media only screen and (max-width:991px) {
    .accordion__button--active+.accordion__content {
        display: block;
    }
    .accordion__button::after {
        content: '\25be';
        float: right;
        transform: scale(2);
    }
    .accordion__button--active::after {
        content: '\25b4';
    }
}


/* PORTFOLIO SECTION + CAROUSEL */

#portfolio-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, rgba(30, 30, 35, 0.4), rgba(0, 0, 0, 1)), url('media/weld-bg.jpeg');
    background-position: bottom 0 right 100%;
}

.portfolio-title {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 96px;
    padding-right: 48px;
    font-weight: 300;
    font-size: 2.2rem;
}

.portfolio-title>div {
    display: grid;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.service-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.portfolio-title span:nth-child(1) {
    color: white;
    font-size: 1.5em;
}

.portfolio-title span:nth-child(2) {
    border-top: 3px rgb(246, 181, 19) solid;
    width: 35%;
    border-radius: 5px;
}

.portfolio-link {
    display: flex;
    justify-content: end;
    margin-right: 3em;
    margin-bottom: 1em;
}

.portfolio-link span {
    color: white;
    letter-spacing: 0.05em;
}

.portfolio-link img {
    height: 1.5rem;
}

.portfolio-link a {
    color: white;
}

.carousel-container {
    width: 95%;
    margin: 50px auto 20px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden
}

.carousel-container .track {
    display: inline-flex;
    transition: transform 0.3s;
}

.carousel-container .card-container {
    width: 259px;
    flex-shrink: 0;
    height: 250px !important;
    padding-right: 15px;
    /* box-sizing: border-box; */
}

.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    border: 0;
    /* box-sizing: border-box; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.carousel-container .card-container img {
    border-radius: 10px;
    max-height: 250px !important;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev {
    left: -30px;
    display: none;
}

.nav .next.hide {
    display: none;
}

.nav .prev.show {
    display: block;
}

.nav .next {
    right: -30px;
}

.card>* {
    flex: 1;
}

@media only screen and (max-width: 481px) {
    .carousel-container .card {
        height: 250px !important;
    }
    .portfolio-link {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile */
    .carousel-container {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    /* Tablet */
    .carousel-container {
        width: 85%;
    }
}


/* CONTACT INFORMATION */

.contact-info-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 4rem;
    background-color: rgba(30, 30, 35, .075);
}

.contact-info-section>div {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.contact-tab {
    display: flex;
}

.contact-tab span a:hover {
    color: grey !important;
}

.contact-tab-img {
    display: flex;
    justify-content: end;
}

.contact-tab-img img {
    height: 5rem;
}

.contact-tab-info {
    display: flex;
    align-items: center;
}

.contact-tab-info a {
    color: #1e1e23 !important;
    text-decoration: none !important;
}

@media only screen and (max-width:576px) {
    .contact-tab {
        padding: 20px 0;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .contact-tab:nth-child(3) {
        padding: 20px 0;
    }
}


/* CONTACT FORM */

.contact-form-section {
    display: flex;
    width: 100%;
    margin: 3rem auto 0 auto;
    padding: 0 5%;
}

.contact-form {
    margin-top: 1rem;
    background: white;
}

.contact-form-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 50px;
    padding-right: 48px;
    font-weight: 300;
    font-size: 2.2rem
}

.subheader-bar {
    border-top: 5px solid rgb(255, 190, 69);
    width: 10%;
    margin-right: 2%;
    border-radius: 5px;
}

.contact-form-thanks {
    width: 75%;
    padding: 2% 1rem 1rem 1rem;
    margin: 1.5rem 0 1.5rem 5%;
    border-left: rgb(246, 181, 19) solid 3px;
    background: rgba(30, 30, 35, .075);
}

.contact-us-section .input-group {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-left: 5%;
    padding-top: 2%;
}

.contact-form .input-group form {
    width: 75%;
    margin-left: 5%;
    padding-top: 2%;
}

label {
    font-weight: 500;
}

label.required:after {
    content: '*';
    color: #E74C3C;
    margin-left: 0.3125rem;
}

input {
    height: calc(1.5em + 0.75rem + 2px);
}

.input,
textarea {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#submit-btn {
    background-color: rgb(246, 181, 19);
    border: white;
    color: white;
}

.filler-image {
    display: none;
}

.filler-image img {
    width: 100%;
}

@media only screen and (min-width:992px) {
    .filler-image {
        display: block;
    }
}


/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    justify-content: end;
    align-items: center;
    background-color: #1E1E23;
}

.footer>* {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-right: 1.5rem !important;
    color: white;
    font-size: 0.8rem;
}