<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- <meta http-equiv="refresh" content="delay_time; URL=new_website_url" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300;400;600&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500&display=swap"
        rel="stylesheet">
    <title>Contact Us</title>
    <link rel="shortcut icon" type="image/png" href="../media/favicon.png" />
</head>

<body>
    <header class="mobile-header">
        <div>
            <img class='mobile-logo' src="../media/full_logo_nb.png">
        </div>
        <button class='mobile-nav-toggle' aria-expanded="false">
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
        </button>
        <nav>
            <ul id="mobile-navigation" class="mobile-navigation" data-visible="false">
                <li class="active">
                    <a href="../templates/index.html">Home</a>
                </li>
                <li class="active">
                    <a href="#">About</a>
                </li>
                <li class="active">
                    <a href="#">Work</a>
                </li>
                <li class="active">
                    <a href="../templates/contact-us.html">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <header class="primary-header">
        <div class='container d-flex'>
            <div class="px-3">
                <img class='primary-logo' src="../media/full_logo_nb.png">
            </div>
        </div>
    </header>
    <header class='primary-navbar'>
        <div class="container d-flex justify-content-end">
            <ul id="mobile-navigation" class="mobile-navigation">
                <li><a href="../templates/index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="../templates/contact-us.html">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <div class='about-us-header'>
        <div class="pl-5" style="display:grid;">
            <span style="color:white; font-family: 'Poppins', sans-serif;letter-spacing: 0.05em;"><a style="color:white;" href="../templates/index.html">Homepage</a> <img style="height:1.5rem;" src='../media/directory-arrow.png'><a style='color:white' href="../templates/contact-us.html"> About</a></span>
            <span style="color:white; font-size:4em;font-family: 'Poppins', sans-serif;">About Us</span>
            <span style="border-top:6px rgb(246, 181, 19) solid; width:35%;"></span>
        </div>
    </div>
    <div class="row mx-auto my-5">
        <div class="col-6">
            <img class='w-100' src="../media/contact_us4.jpg">
        </div>
        <div class="col-6">
            <h3>Hello</h3>
            <h5>Xtra Weld is a welding company established in the Greater-Toronto Area, Ontario. </h5>

        </div>
    </div>

    <div class="row d-flex justify-content-center py-5" style="height:1000px;text-align:center; margin:0 20%;">


    </div>

</body>

</html>