<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS Styling -->
    <link rel="stylesheet" type="text/css" href='../main.css' />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300;400;600&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500&display=swap"
        rel="stylesheet">

    <title>XTRA WELD</title>
    <link rel="shortcut icon" type="image/png" href="../media/favicon.png" />

</head>

<body>
    <div id='home' class='container d-flex my-3'>
        <div class='col'>
            <img src="../media/full_logo_nb.png" style='width:250px;'>
        </div>
        <div class='col d-flex align-items-center'>
            <div class='col mr-3 pr-0 contact-info'>
                <div class='row'>
                    <div class='col-4-xl col-3-lg px-0'>
                        <img class='my-2 pl-3 pr-3 ' style='height:35px; border-right: 1px lightgray solid; ' src="../media/phone-icon.png">
                    </div>
                    <div class='col-8 pl-0 '>
                        <span><b>Call Now</b><br><a style='font-size:13.5px; '>416-XXX-XXXX</a></span>
                    </div>
                </div>
            </div>
            <div class='col ml-3 contact-info'>
                <div class='row '>
                    <div class='col-4 px-0 '>
                        <img class='my-2 pl-3 pr-3 ' style='height:33px; border-right: 1px lightgray solid;' src="../media/mail-icon.png">
                    </div>
                    <div class='col-8 pl-2 '>
                        <span><b>Email Us</b><br><a style='font-size:13.5px;'>xtraweld@gmail.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="nav-header" style='position:sticky; top:0px; z-index:1;'>
        <nav class="navbar navbar-expand-md navbar-dark py-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link px-4 is-active" href="#home">HOME</a>
                        <a class="nav-item nav-link px-4" href="#">ABOUT</a>
                        <a class="nav-item nav-link px-4" href="#">SERVICES</a>
                        <a class="nav-item nav-link px-4" href="#">RECENT WORK</a>
                        <a class="nav-item nav-link px-4" href="#">CONTACT</a>
                    </div>
                    <div class="navbar-nav ml-auto d-flex align-items-center">
                        <img class='my-2 pl-3 pr-3 ' style='height:35px;' src="../media/pinpoint.png">
                        <span style='color:white; font-weight:500; '>BRAMPTON, ONTARIO</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class='row div-no-mobile d-flex home-parallax align-items-center '>
        <div class='col-6 text-left d-flex px-0 mx-0 ' style="border: red 3px solid;">
            <div class='d-block' style="border: purple 3px solid;">
                <div class='d-flex justify-content-left px-3 my-auto py-0 ml-5 pl-3 ' style='border-left:3px rgb(246,181,19) solid '>
                    <h1 class='home-title mb-0 ' style='color:white '>WELDING SERVICES<br> IN THE GTA</h1>
                </div>
                <div class='d-flex justify-content-left px-3 my-auto py-2 ml-5 pl-3 mt-1 '>
                    <h5 class='mt-3 ' style='color:white; font-size:21px; '>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        <br> elit tempo sint occaecat cupidatat non.
                    </h5>
                </div>
                <div class='d-flex justify-content-left px-3 my-auto py-4 ml-5 pl-3 '>
                    <button class='btn mr-3 px-5 py-2 ' style='font-weight:500; background:transparent; border:1px white solid; color:white; '>OUR SERVICES</button>
                    <button class='btn ml-3 px-5 py-2 ' style='background-color:rgb(246,181,19); font-weight:500; color:white; '>CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
    <div class='row div-only-mobile '>
        <div class='col-12 text-center d-flex pb-0 mx-0 '>
            <img id='home-background ' class='center w-100 ' style='height:550px; opacity:0.6 ' src='../media/home-background_copy.jpg'>
        </div>
    </div>
    <div class='container '>
        <div class='row ' style='margin-top:80px; '>
            <div class='col-xl-7 pl-0 '>
                <span style='font-size:30px;font-weight:300;letter-spacing:0.05em; '><b style='font-weight:600; '>Welcome to </b>Xtra Weld</span>
                <br>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ac incididunt ut sut labore et dolore magna it aliqua. Urna id volutpat lacus laoreet non essit ad curabitur. Pellentesque diam volutpat commodo sed. Nisl condimentum
                    id venenatis a condimentum vitae sapien pellentesque habitant sit.
                    <br><br> Luctus accumsan tortor it posuere ac ut consequat semper viverra.Nec feugiat nisl pretium fusce idit velit utirum. Elementum integer enim neque enim eu turpis egestas pretium aenea.</p>
            </div>
            <div class='col-xl-5 '>
                <img style='width:110%;' src='../media/about-us.png'>
            </div>
        </div>
    </div>
    <div class='container-fluid px-0 bg-image d-flex align-items-center ' style='height:250px; overflow:hidden; '>
        <div class='container '>
            <div class='row d-flex '>
                <div class='col mr-5 p-3 ' style='border:0.5px white solid; '>
                    <div class='row pt-2 '>
                        <div class='col-xl-4 pr-0 '>
                            <img style='width:100%; ' src='../media/money-icon.png'>
                        </div>
                        <div class='col-xl-8 pl-0 pr-5 pt-3 text-center '>
                            <span style='font-size:28px;color:white;font-weight:700; '>COMPETITIVE<br>PRICING</span>
                        </div>
                    </div>
                </div>
                <div class='col ml-5 mr-5 p-3 ' style='border:0.5px white solid; '>
                    <div class='row '>
                        <div class='col-xl-6 pl-1 '>
                            <img style='width:80%; ' src='../media/award-icon.png '>
                        </div>
                        <div class='col-xl-6 pl-0 pr-5 text-center '>
                            <span style='font-size:40px;color:white;font-weight:700; '>30<span style='color:rgb(246,185,68); '>+</span></span>
                            <br>
                            <span style='font-size:20px;color:white; font-weight:500; '>YEARS OF<br>EXPERIENCE</span>
                        </div>
                    </div>
                </div>
                <div class='col ml-5 p-3 ' style='border:0.5px white solid; '>
                    <div class='row pt-2 '>
                        <div class='col-xl-4 pr-0 pt-2 '>
                            <img style='width:100%; ' src='../media/project-icon.png '>
                        </div>
                        <div class='col-xl-8 pl-0 pr-3 pt-3 text-center '>
                            <span style='font-size:28px;color:white;font-weight:700; '>CUSTOM<br>PROJECTS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style='height:50px;background-color:#2A3439; '>
        <div id='copyright ' class='row ml-5 pt-3 ' style='color:white; font-size:10px '>
            Copyright © 2022 Xtra Weld. All Rights Reserved.
        </div>
    </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <script src="{{ url_for('static ', filename='js/carousel.js ') }}"></script> -->
</body>

</html>