<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300;400;600&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500&display=swap"
        rel="stylesheet">
    <title>XTRA WELD</title>
    <link rel="shortcut icon" type="image/png" href="../media/favicon.png" />
    <script src="../script.js" defer></script>
</head>

<body>
    <header class="primary-header d-flex">
        <div>
            <img src="../media/full_logo_nb.png" style='width:200px;'>
        </div>
        <button class='mobile-nav-toggle' aria-controls="primary-navigation" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </button>
        <nav>
            <ul id="primary-navigation" data-visible="false" class="primary-navigation d-flex">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li class="active">
                    <a href="#">About</a>
                </li>
                <li class="active">
                    <a href="#">Work</a>
                </li>
                <li class="active">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="background-header">
        <div class="row d-flex align-items-center">
            <!-- <h1>WELDING SERVICES IN THE GTA</h1> -->
        </div>
    </div>
    <!-- <div style="height:100px; background-color:rgb(50,50,50)">

    </div> -->
    <!-- <div class='m-auto' style="margin-top:100px" style="background:black; overflow-x: hidden;">
        <img src="../media/background.jpg" style="overflow-x: hidden; height:auto; width:100%">
    </div>
    <div class="row" style="height:1000px; ">
        <h1>Hello</h1>
    </div> -->
    <footer class="primary-footer d-flex">
        <div class="container d-flex justify-content-between align-items-end">
            <div class="footer-option ">
                <a href="#">
                    <img class='footer-icon' src='../media/portfolio.png'>Portfolio
                </a>
            </div>
            <div class="footer-option ">
                <a href="#">
                    <img class='footer-icon' src='../media/services.png'>Services
                </a>
            </div>
            <div class="footer-option">
                <a href="#">
                    <img class='footer-icon' src='../media/phone2.png'>Contact Us
                </a>
            </div>
        </div>

    </footer>
</body>

</html>